@charset "utf-8";
.txit-IndianRed{
    color: 	IndianRed;
}
.bg-Gold{
    background-color: Gold;
}
.txit-Chocolate{
    color: 	Chocolate;
}
.txit-Maroon{
    color: Maroon;
}
.bg-LightPink{
    background-color: LightPink;
}
.txit-MediumVioletRed{
    color: MediumVioletRed;
}
.txit-DarkRed{
    color: DarkRed;
}
.txit-Teal{
    color: Teal;
}
.txit-RoyalBlue{
    color: RoyalBlue;
}
.txit-SteelBlue{
    color: SteelBlue;
}
.txit-DarkBlue{
    color: DarkBlue;
}
.txit-DarkViolet{
    color: DarkViolet;
}
.bg-Plum{
    background-color: Plum;
}
.bg-PaleTurquoise{
    background-color: PaleTurquoise;
}
.bg-White{
    background-color: White;
}
.txit-LightSkyBlue{
    color: LightSkyBlue;
}
.txit-MediumSeaGreen{
    color: MediumSeaGreen;
}
.bg-PaleGreen{
    background-color: PaleGreen;
}
body{
    background-color: Cornsilk;
}
p{
    font-size: 23px;
}