@charset "utf-8";
header{
    background-image: url(../company/company-img/company1.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0 auto;
    padding: 0.5rem;
}
h1{
    width: 40%;
    height: 10%;
    text-align: center;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 50px;
    border-radius: 30px;
    border-color: rgb(21, 69, 124);
    background-color: rgb(205, 228, 255);
    border-style: solid;
    border-width: 5px;
}
.job{
    padding: 10px;
    margin: 20px;
    text-align: center;
}
.img{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
}
.job2{
    padding: 10px;
    margin-left: 30px;
}
h2{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
    text-decoration: underline;
}
h3{
    text-align: center;
    color: rgb(79, 183, 243);
    font-size: 20px;
}
p{
    margin-left: 25%;
    margin-right: 25%;
    font-size: 20px;
}
ul{
    margin-left: 30%;
    font-size: 17px;
}
.border{
    border-radius: 10px;
    border-color: rgb(79, 183, 243);
    border-style: dashed;
    background-color: aliceblue;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
}
body{
    background-color: rgb(193, 255, 249);
    margin: 0 auto;
}