@charset "utf-8";
table, th, td{
    border: solid 1px black;
    border-collapse: collapse;
    padding: 10px;

}
th{
    background-color: #f04200;
    font-size: 25px;
    width: 200px; height: 100px;
}
caption{
    background-color: #ff321a;
    color: white;
    font-size: 80px;
    font-family: "Cambria";
}
td{
    text-align: center; vertical-align: middle;
    background-color: white;
    font-size: 23px;
}
body{
    background-image: url('img/Fate.jpg');
    background-size: cover;
}
tr{
    background-size: 15px;
}